<div class="logo">
  <a href="https://www.akveo.com?utm_campaign=services%20-%20homepage%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=banner&utm_content=footer_logo" target="_blank">
    <img src="assets/img/akveo-logo.png">
  </a>
</div>
<div class="company-info">
  <ul>
    <li class="title">More from Akveo</li>
    <li><a href="https://www.akveo.com?utm_campaign=services%20-%20homepage%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=referral&utm_content=home_footer_homepage" target="_blank">Homepage</a></li>
    <li><a href="https://akveo.github.io/nebular?utm_campaign=nebular%20-%20home%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=referral&utm_content=footer_link_nebular" target="_blank">Nebular</a></li>
    <li><a href="https://akveo.github.io/ngx-admin?utm_campaign=ngx_admin%20-%20home%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=referral&utm_content=footer_link_ngx_admin" target="_blank">ngx-admin</a></li>
    <li>
      <a href="https://eva.design?utm_campaign=eva_design%20-%20home%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=referral&utm_content=footer_link_eva" target="_blank">
        Eva Design System
      </a>
    </li>
  </ul>
</div>
<div class="social-container">
  <ul>
    <li class="title">Follow Us</li>
    <li class="social">
      <a href="https://github.com/akveo/eva-icons" target="_blank">
        <i [innerHTML]="'github-outline' | eva: { width: 30, height: 30, fill: '#f7f8fa' }"></i>
      </a>
      <a href="https://twitter.com/akveo_inc" target="_blank">
        <i [innerHTML]="'twitter' | eva: { width: 30, height: 30, fill: '#f7f8fa' }"></i>
      </a>
      <a href="https://www.facebook.com/akveo" target="_blank">
        <i [innerHTML]="'facebook' | eva: { width: 35, height: 35, fill: '#f7f8fa' }"></i>
      </a>
      <a href="https://www.linkedin.com/company/akveo" target="_blank">
        <i [innerHTML]="'linkedin' | eva: { width: 35, height: 35, fill: '#f7f8fa' }"></i>
      </a>
    </li>
    <li class="copy">
      &copy; 2015-2018 <a href="https://www.akveo.com?utm_campaign=services%20-%20homepage%20-%20eva_icons%20website&utm_source=eva_icons&utm_medium=referral&utm_content=footer_akveo_llc" target="_blank">Akveo LLC</a><br>
      Documentation licensed under CC BY 4.0.
    </li>
  </ul>
</div>
<div class="contact">
  <ul>
    <li class="title">Contact Us</li>
    <li><a href="mailto:contact@akveo.com">contact@akveo.com</a></li>
  </ul>
</div>
