@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $primary: nb-theme(color-primary);
  $search-input-padding-sides: 2.5rem;
  $search-input-padding-tops: 1.625rem;
  $search-input-mobile-padding-sides: 0.5rem;
  $search-input-mobile-padding-tops: 1rem;

  margin-top: 3.5rem;
  margin-bottom: 4rem;
  display: block;

  h1 {
    color: $primary;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 700;
  }

  // search
  .search {
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border: 2px solid $primary;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: nb-theme(radius);
      box-shadow: 0 8px 32px 0 #edf0f5;
    }

    i {
      color: $primary;
      position: absolute;
      right: $search-input-padding-sides;
      top: calc(#{$search-input-padding-tops} - 0.25rem);

      .eva-search-outline {
        fill: $primary;
      }
    }
  }

  .search-input {
    width: 100%;
    border: none;
    line-height: 0.5rem;
    font-size: nb-theme(font-size-xlg);
    padding: $search-input-padding-tops $search-input-padding-sides;

    &::placeholder {
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);
    }

    &::-ms-clear {
      display: none;
    }
  }
  // search

  // icons container
  .icons {
    position: relative;
  }
  // icons container

  eva-list-view-switcher {
    position: absolute;
    left: calc(100% + 50px);
  }

  eva-icon-list {
    margin-top: 5rem;
  }

  .spinner-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .info-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7rem;
    margin-top: 1rem;
    text-align: center;
    font-size: nb-theme(font-size-xlg);
    font-weight: nb-theme(font-weight-bold);
    background-color: nb-theme(switcher-view-bg);
    border-radius: 0.25rem;
  }

  @include media-breakpoint-down(md) {
    padding-left: 1rem;
    padding-right: 1rem;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .search {
      i {
        right: $search-input-mobile-padding-sides;
        top: calc(#{$search-input-mobile-padding-tops} - 0.25rem);

        .eva-search-outline {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      input {
        padding: $search-input-mobile-padding-tops $search-input-mobile-padding-sides;
      }
    }

    eva-icon-list {
      margin-top: 2rem;
    }

    eva-list-view-switcher {
      display: none;
    }
  }
}
