<nb-card *ngFor="let icon of icons"
         (click)="clickIconHandler(icon)">
  <nb-card-body>
    <i [innerHTML]="icon | eva"></i>
    <span *ngIf="isFullViewMode"
          class="icon-class">
      {{ icon }}
    </span>
  </nb-card-body>
</nb-card>

<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>
<nb-card class="fake-card"></nb-card>


<div *ngIf="icons.length === 0"
     class="spinner-container"
     [nbSpinner]="icons.length === 0"
     nbSpinnerStatus="primary"
     nbSpinnerSize="xxlarge">
</div>
