<nb-card>
  <nb-card-body>
    <div class="icon-container">
      <i class="nb-alert"></i>
      <div class="icon-name">nb-alert</div>
    </div>
    <div class="download-controls">
      <div *ngFor="let item of downloadControls"
           (click)="selectFormatAndDownloadIcon(item.format)"
           [class.active]="item.format === selectedFormat"
      >
        <div class="download-control svg"
             [ngClass]="item.format">
        </div>
        <div class="name">{{ item.title }}</div>
      </div>
    </div>

    <div *ngIf="isDownloadPng" class="select-size-container">
      <div class="title">Select a size (in pixels):</div>
      <ul class="available-sizes">
        <li *ngFor="let size of availablePngSizes"
            (click)="selectPngSizeAndDownloadIcon(size)"
            [class.active]="size === selectedPngSize"
        >
          {{ size }}
        </li>
      </ul>
    </div>
  </nb-card-body>
</nb-card>
