@import 'themes';
@import 'small-social';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};
