<div class="section left">
  <div class="logo">
    <a routerLink="/">Eva Icons</a>
    <span class="version">v{{ currentVersion }}</span>
  </div>
  <iframe class="stars"
          src="https://ghbtns.com/github-btn.html?user=akveo&repo=nebular&type=star&count=true"
          frameborder="0"
          scrolling="0">
  </iframe>
</div>
<div class="section right">
  <nb-menu [items]="mainMenu"></nb-menu>
  <a class="btn btn-header btn-npm">
    <i class="npm-icon"></i>
    <span>Npm</span>
  </a>
  <a class="btn btn-primary btn-download btn-header"
     href="package-build/eva-icons.zip"
     download>
    <i class="eva eva-2x eva-download"></i>
    <span>Download</span>
  </a>
</div>
