<div class="section left">
  <iframe class="stars mobile"
          src="https://ghbtns.com/github-btn.html?user=akveo&repo=eva-icons&type=star&count=true"
          frameborder="0"
          scrolling="0">
  </iframe>
  <span class="desktop">Support us on:</span>
  <div class="social-group">
    <a href="https://twitter.com/akveo_inc" target="_blank" class="social twitter">
      <i [innerHTML]="'twitter-outline' | eva: { width: '100%', height: '100%' }"></i>
      <span>Twitter</span>
    </a>
    <a href="https://www.behance.net/gallery/72027793/Eva-Icons" target="_blank" class="social behance">
      <i [innerHTML]="'behance-outline' | eva: { width: '100%', height: '100%' }"></i>
      <span>Behance</span>
    </a>
    <a href="https://github.com/akveo/eva-icons" target="_blank" class="social github">
      <i [innerHTML]="'github-outline' | eva: { width: '100%', height: '100%' }"></i>
      <span>GitHub</span>
    </a>
  </div>
</div>
<div class="section right">
  <div class="social-group mobile">
    <a href="https://twitter.com/akveo_inc" target="_blank" class="social twitter">
      <i [innerHTML]="'twitter-outline' | eva: { width: '100%', height: '100%' }"></i>
      <span>Twitter</span>
    </a>
    <a href="https://www.behance.net/gallery/72027793/Eva-Icons" target="_blank" class="social behance">
      <i [innerHTML]="'behance-outline' | eva: { width: '100%', height: '100%' }"></i>
      <span>Behance</span>
    </a>
    <a href="https://github.com/akveo/eva-icons" target="_blank" class="social github">
      <i [innerHTML]="'github' | eva: { width: '100%', height: '100%' }"></i>
      <span>GitHub</span>
    </a>
  </div>
  <iframe class="stars desktop"
          src="https://ghbtns.com/github-btn.html?user=akveo&repo=eva-icons&type=star&count=true"
          frameborder="0"
          scrolling="0">
  </iframe>
  <div class="btn btn-primary btn-download btn-header">
    <i [innerHTML]="'download' | eva: { width: 24, height: 24 }"></i>
    <span>Download</span>
    <div class="download-items-container">
      <ul>
        <li (click)="clickOnDownloadPack()">
          <a href="{{ zipUrl }}"
             download>
            <i [innerHTML]="'cube-outline' | eva: { width: 24, height: 24, fill: '#ffffff' }"></i>
            <span>Design Pack</span>
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/eva-icons" target="_blank">
            <i [innerHTML]="'npm' | eva: { width: 24, height: 24, fill: '#ffffff' }"></i>
            <span>NPM</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
