@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  $right-section-width: nb-theme(settings-col-width);
  $logo-fg: nb-theme(header-fg);
  $version-fg: nb-theme(color-primary);
  $primary: nb-theme(color-primary);

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
  margin: 0 7rem;
  justify-content: space-between;

  .section {
    display: flex;
    padding: 0.875rem 1rem;
  }

  .logo {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    font-size: nb-theme(font-size-xlg);

    a {
      margin-right: 0.5rem;
      color: $logo-fg;
      text-decoration: none !important;
      font-weight: bold;
    }

    .version {
      display: inline;
      font-size: nb-theme(font-size);
      font-weight: bold;
      color: $version-fg;
    }
  }

  .stars {
    width: 95px;
    height: 20px;
    margin-left: 3rem;
    align-self: flex-end;
  }

  /deep/ nb-menu {
    flex: 1;

    .menu-items {
      display: flex;
      justify-content: flex-end;

      .menu-item {
        border: none;

        &:first-child a {
          padding-left: 0;
        }

        a {
          position: relative;
          font-size: nb-theme(font-size-sm);
          color: nb-theme(menu-item-fg);
          padding: 0.5rem 1.625rem 0.5rem 1rem;
          display: block;

          .menu-icon {
            color: nb-theme(menu-item-fg);
          }

          &:hover, &.active, &:focus {
            color: $primary;
            text-shadow: 0.5px 0 0 currentColor;
            font-weight: normal;
            outline: none!important;

            .menu-icon {
              color: $primary;
            }
          }

          &.active {
            &::after {
              content: '';
              position: absolute;
              border: 2px solid $primary;
              width: 100%;
              left: 0;
              bottom: 0;
              border-radius: nb-theme(radius);
            }
          }
        }

        .menu-icon {
          font-size: 1.25rem;
        }

        .menu-title {
          vertical-align: super;
        }
      }
    }
  }

  .btn-header {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: nb-theme(color-white);
    font-size: nb-theme(font-size-xs);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;

    span {
      margin-left: 1.25rem;
    }
  }

  .btn-npm {
    color: nb-theme(color-fg);
    margin-left: 4rem;
    border: 1px solid nb-theme(header-button-border);
    font-weight: nb-theme(font-weight-ultra-bold);

    &:hover {
      background-color: nb-theme(header-button-border);
    }

    span {
      text-transform: uppercase;
    }
  }

  .npm-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../../assets/img/npm.svg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  @include media-breakpoint-down(xl) {
    margin: 0 1rem;
  }

  @include media-breakpoint-up(sm) {
    .logo {
      align-items: baseline;
      flex: 1 0 auto;
    }
  }

  @include media-breakpoint-up(is) {
    .section {
      padding: 0.875rem 1.125rem;
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;
    margin: 0;

    .logo {
      font-size: 1rem;
    }

    .section {
      padding: 1.25rem 1rem;

      &.right {
        border-top: 1px solid nb-theme(header-section-border-color);
        border-bottom: 1px solid nb-theme(header-section-border-color);
      }
    }

    nb-menu /deep/ {
      .menu-items {
        justify-content: flex-start;
      }

      .menu-item {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;

          a {
            padding: 0.5rem 0.75rem;
          }
        }

        a {
          padding: 0.5rem 0.75rem;

          &::after {
            display: none;
          }
        }

        .active {
          border: 1px solid $primary;
        }

        .menu-icon {
          width: auto;
          font-size: 1.5rem;
        }
      }

       .menu-title {
         display: none;
       }
    }
  }

  @include media-breakpoint-down(sm) {
    .btn-header {
      margin-left: 0;
    }

    .btn-download {
      display: none;
    }
  }
}
